.post-tag {
  display: inline-block;
  background: $brand-color-dark;
  padding: 0 .5rem;
  margin-left: .25rem;
  border-radius: 4px;
  color: $text-color !important;
  font-size: 90%;
  &:before {
    content: "\f02b";
    font-family: FontAwesome;
    padding-right: .5em;
  }
  &:hover {
    text-decoration: none;
    background: $brand-color-dark;
    color: $brand-color-light;
  }
}